@model EmployeeManagement.ViewModels.HomeDetailsViewModel
<div>
    
    @{
      //  var employee = ViewData["employee"] as EmployeeManagement.Models.employee;
    }
    
    <div>
        Name: @Model.employee.Name
        <br>
        </br>

    </div>
    
    
    
</div>