USE [master]
GO
/****** Object:  Database [MYBlog]    Script Date: 18-04-2021 12:29:10 ******/
CREATE DATABASE [MYBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Blog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Blog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Blog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MYBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MYBlog]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 18-04-2021 12:29:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[miniintro] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[seotitle] [nvarchar](max) NULL,
	[seodiscription] [nvarchar](max) NULL,
	[seokeywords] [nvarchar](max) NULL,
	[language] [nvarchar](max) NULL,
	[createdon] [datetime] NULL,
	[isalive] [bit] NULL,
	[postedby] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[position] [bigint] NULL,
	[seourl] [nvarchar](max) NULL,
 CONSTRAINT [PK_blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 18-04-2021 12:29:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[AutoId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[firstname] [nvarchar](max) NULL,
	[lastname] [nvarchar](max) NULL,
	[emailId] [nvarchar](max) NULL,
	[idtype] [nvarchar](max) NULL,
	[idnumber] [nvarchar](max) NULL,
	[phone_no] [varchar](50) NULL,
	[password] [nvarchar](max) NULL,
	[isblocked] [bit] NULL,
	[website_link] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[industry] [nvarchar](max) NULL,
	[established_year] [varchar](50) NULL,
	[GSTN] [nvarchar](max) NULL,
	[total_students] [int] NULL,
	[role] [int] NULL,
	[type] [int] NULL,
	[createdon] [datetime] NULL,
	[url] [nvarchar](max) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
